@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");

html {
  font-size: 14px;
  min-width: 100%;
}

body {
  font-size: 1rem;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: $light-gray;
  color: $dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.3;
  margin: 0 0 0.5em;
}

h1 {
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.833em;
}

p {
  font-size: 1em;
  margin: 0 0 1.5em;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: $dark-gray;
  border-bottom: 1px solid $dark-gray;
}

a:hover,
a:active {
  text-decoration: none;
  color: $main-color;
  border-color: $main-color;
}

small {
  font-size: 0.65em;
}

i {
  margin-right: 0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

.print-only {
  display: none;
}

/* resume */
#resume {
  margin: 2em auto 0;
  display: flex;
  width: 1000px;
  background-color: #fff;
}

.refer {
  margin: 1em auto;
  width: 1000px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px dashed $gray;
  padding: 1em 2em;
  box-sizing: border-box;
  p {
    margin: 0;
  }
  a,
  a:link,
  a:visited {
    color: $main-color;
    border-color: transparent;
    &:hover,
    &:active {
      border-color: $main-color;
    }
  }
}
