.main-content {
  padding: 2em 1em;
  width: 65%;
  .section {
    margin-bottom: 3em;
  }
  .section-title:first-child {
    margin-top: 0;
  }
  .title {
    margin-bottom: 0.25em;
  }
  .date {
    color: $gray;
    margin: 0.5em 0;
  }
}

.experience {
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    color: $dark-gray;
    border-bottom: 1px solid $dark-gray;
    &:hover,
    &:active {
      color: $main-color;
      border-color: $main-color;
    }
  }
  .company {
    font-size: 1.2em;
  }
  .description {
    border-left: 3px solid $main-color;
    padding-left: 1em;
    ul,
    p {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    h4 {
      font-size: 1.1em;
    }
  }
  .client {
    margin-top: 1em;
    .company {
      margin-bottom: 0.5em;
    }
    .date {
      font-size: 0.8em;
    }
  }
}

.education {
  margin: 0.5em 0 2em;
}

.skills {
  .unbulleted-list {
    margin-bottom: 1.5em;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $gray;
    padding: 0 0.5em;
    margin: 0 0.25em 0.5em 0;
  }
}
