.main-content {
  padding: 2em;
  width: 65%;
  .section {
    margin-bottom: 3em;
  }
  .section-title:first-child {
    margin-top: 0;
  }
  .title {
    margin-bottom: 0.25em;
  }
  .date {
    color: $gray;
    margin: 0.25em 0;
  }
}

.experience {
  margin-bottom: 1.5em;
  position: relative;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  .company {
    color: $dark-gray;
    border-bottom: 1px solid $dark-gray;
    &:hover,
    &:active {
      color: $main-color;
      border-color: $main-color;
    }
  }
  .description {
    max-height: 0;
    transition: max-height 0.35s;
    border-left: 3px solid $main-color;
    padding-left: 1em;
    p {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .toggle-checkbox {
    display: none;
    + label {
      &:before {
        content: 'Show';
        margin-right: 0.25em;
      }
    }
    &:checked {
      + label {
        &:before {
          content: 'Hide';
        }
      }
      ~ .description {
        max-height: 100vh;
        margin-top: 0.5em;
      }
    }
  }
  .description-toggle {
    cursor: pointer;
    color: $main-color;
    display: inline-flex;
    align-items: center;
  }
}

.education {
  margin: 0.5em 0 2em;
}

.skills {
  .unbulleted-list {
    margin-bottom: 1.5em;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $gray;
    padding: 0 0.5em;
    margin: 0 0.25em 0.5em 0;
  }
}
