@media print {
  .print-only {
    display: inline-block;
  }
  .screen-only {
    display: none;
  }
  p,
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #000;
    border-bottom: 0;
  }
  .sidebar {
    -webkit-print-color-adjust: exact;
    p,
    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: #fff;
    }
  }
  #resume {
    width: 20cm;
    min-height: 29.68cm;
    margin: 0.5cm;
  }
  .refer {
    width: 20cm;
    margin: 0.5cm;
    font-size: 0.833em;
  }
  .info, .skills {
    page-break-inside: avoid;
    padding-top: 0.5cm;
  }
}
