@media print {
  body {
    background-color: #fff;
  }
  .print-only {
    display: inline-block;
  }
  .screen-only {
    display: none !important;
  }
  p,
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #000 !important;
    border-bottom: 0 !important;
  }
  .sidebar {
    -webkit-print-color-adjust: exact;
  }
  .intro {
    .image {
      width: 200px;
      margin: 0;
    }
  }
  .contact {
    a {
      margin-bottom: 0.25cm;
      display: block;
    }
    i {
      display: block;
    }
    span {
      word-break: break-all;
    }
  }
  .resume {
    width: 20cm;
    min-height: 29.68cm;
    margin: 0.5cm;
  }
  .footnotes {
    width: 20cm;
    margin: 0.5cm;
    font-size: 0.833em;
    text-align: center;
  }
  .intro,
  .education {
    page-break-after: always;
  }
  .location,
  .skills {
    margin-top: 0.75cm;
  }
}
