/* sidebar */
.sidebar {
  width: 35%;
  padding: 2em 1em;
  border-right: 2px solid $light-gray;
}

/* intro */
.intro {
  h1 {
    margin: 0.5em 0 0;
    color: $main-color;
  }
  img {
    display: block;
  }
}

/* info */
.info {
  h3 {
    text-transform: uppercase;
    color: $main-color;
  }
}

/* contact */
.contact {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 0.5em;
    a {
      border-bottom: 0;
    }
  }
}
