/* sidebar */
.sidebar {
  background-color: $main-color;
  color: #fff;
  width: 35%;
  padding: 2em 1em;
  p {
    color: $light-gray;
  }
  a,
  a:link,
  a:visited {
    color: #fff;
    word-break: break-word;
    border-bottom: 1px solid transparent;
  }
  a:hover,
  a:active {
    border-bottom: 1px solid #fff;
  }
}

/* intro */
.intro {
  h1 {
    margin: 0.5em 0 0;
  }
  img {
    border-radius: 50%;
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}

/* contact */
.contact {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 0.5em;
    a {
      border-bottom: 0;
    }
  }
}
